<h2><%= @survey.title %></h2>
<h3><%= @survey.description %></h3>
<hr>
<div class="survey-container">
  <form class="choices" action="/surveys/<%= session[:current_user_id] %>" method="post">


  <% @questions.each_with_index do |question, index| %>

      <label><%= question.question %></label><br>
      <% question.choices.each do |choice| %>
      <input type="checkbox" name="choice_id[]" value="<%= choice.id %>"><%= choice.choice %><br>
      <% end %>

    <% end %>
    <input type="submit">
  </form>

</div>

